
node_modules
*.js
*.vsix
.fake
!/.fake
/.fake/*
!/.fake/build.fsx
/.fake/build.fsx/*
!/.fake/build.fsx/paket.lock

*.pdb
.taskkey

CreateSignedPackages.dev/bin
CreateSignedPackages.dev/mypackages
CreateSignedPackages.dev/packages
CreateSignedPackages.dev/signedpackages
CreateSignedPackages/